LOGGING_LEVEL = "INFO"

MESSAGE_TYPES = '["TIM","BSM","SPAT","PSM","MAP"]'
PROJECT_ID = ''
ODE_KAFKA_BROKERS = ':9092'

# POSTGRES DATABASE VARIABLES
PG_DB_IP=
PG_DB_PORT=5432
PG_DB_USER=
PG_DB_PASS=''
DB_NAME=

# EITHER "MONGODB" or "BIGQUERY"
COUNTS_DB_TYPE = 'MONGODB'

# MONGODB REQUIRED VARIABLES
MONGO_DB_URI = 'mongodb://:27017/'
MONGO_DB_NAME = 'ODE'
INPUT_COUNTS_MONGO_COLLECTION_NAME = ''
OUTPUT_COUNTS_MONGO_COLLECTION_NAME = ''

# BIGQUERY REQUIRED VARIABLES
KAFKA_BIGQUERY_TABLENAME = ''
PUBSUB_BIGQUERY_TABLENAME = ''