# RSU Info Bridge Environment Variables

## Port to expose the API on
RSU_INFO_BRIDGE_PORT=16543

## PostgreSQL Database Configuration
POSTGRES_SERVER_URL=jdbc:postgresql://localhost:5432
PG_DB_USER=postgres
PG_DB_PASS=postgres
